
div {
    color: gray;
    background-color: beige;

    /*font styles*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-variant: small-caps;    
    font-stretch: extra-expanded;

    /*text styles */
    text-decoration: bold;
    text-indent: 0.5in;

    /*borders */
    border: 1pt solid blue;
    border-width: 2px;
    border-color: blue,red;
    border-style: dotted;
}

span {
    background-color: aliceblue;
}

p {
    color: gray;

}

h1 {
    font-size: 14pt;
}