
div{
    color: gray;
    background-color: beige;

    /*font styles*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-variant: small-caps;
    font-stretch: extra-expanded;

    /*Borders*/
    border: 2pt solid gainsboro
}
span{
    background-color: aliceblue;

    /*text styles*/
    text-decoration: underline;
    text-indent: 0.5in;
    
    border-color: blue brown green gold; /*order = top - right - bottom - left. Can also use seperate commands if preffered ie border-top-color*/
    border-width: 2px;
    border-style: double
}

p{
    color: gray
}

h1{
    font-size: 14pt
}

