<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
 
 
  <h2>Wagwaaan from 61072, hey scott, nice shirt, its sohail btw 🍆🍆🍆</h2>

  

  <h2>Wagwaaan from 61072, hey scott, nice shirt</h2>

  <h2>Wagwaaan from 61072, hey scott, nice shirt, its sohail btw 🍆🍆🍆</h2>
  <h2>Wagwaaan from 61072, hey scott, nice shirt, its sohail btw </h2>


  <h2>Wagwaaan from 61072, hey scott, nice shirt, its Sameer btw 🍆</h2>
  <h2>Wagwaaan from 61072, hey scott, nice shirt, its sohail btw 🍆🍆🍆</h2>
  <h2>Wagwaaan from 61072, hey scott, nice shirt, its sohail btw </h2>
  <h2>this is a new header</h2>
  
  <img src="https://media.tenor.com/images/7af218dd6f24b4ae2d2307f4ab0ecaac/tenor.gif">
  <img src="https://media.giphy.com/media/nNxT5qXR02FOM/giphy.gif">


  <h2>Wagwaaan from 61072, hey scott, nice shirt, its scott btw 🍆🍆🍆🍆🍆🍆</h2>
  <h2>I am joe and i am a massive bloody THIS IS A CHRISTIAN SERVER</h2>

  
  <h2>Wagwaaan from 61072, hey scott, nice shirt</h2>
  <h2>Wagwaaan from 61072, hey scott, nice shirt, its sohail btw</h2>


  <h2>Wagwaaan from 61072, hey scott, nice shirt</h2>


  <h2>Weclome for Luke 61084</h2>

  <p><app-comp61084>
  </app-comp61084></p>

  <h2>Wagwaaan from 61072, hey scott, nice shirt</h2>
  <h2>Wagwaaan from 61072, hey scott, nice shirt, its sohail btw</h2>
  <h2>
    Welcome From ELLIE 61082
  </h2>
  <h2>
    Welcome From User 61078
  </h2>
  <h2>
    Welcome from ya boi user 61083

  </h2>
  <app-comp61081></app-comp61081>
  <h2>

    Welcome From User 61079
  </h2>
  <h2>


    AyyLmao from 61081 👌

    👌🔥 AyyLmao from 61081🔥👌

  </h2>
  <h2>
    Welcome From User 61080!
  </h2>

  
  <h2>
    Welcome from User 61073 :)
  </h2>
 
  <h2>
    Welcome From User 61078
  </h2>  
  <h2>
    Welcome from User 61073 :)
    Welcome From User 61086
  </h2>
  <h2>
      Welcome From User 11988
  </h2>

  <h2>
      Welcome From User 11988
  </h2>

  <h2>
    Liam get a grip
  </h2>


</div>



<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
