body{
    background-color: pink;
}

div{
    color: black;
    background-color: green;

    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-stretch: extra-expanded;

    border: 2px solid red;

    text-decoration: underline;
    text-indent: .5in;
}

span{
    color:red;
    border: 5px solid;
    border-top-color: purple;
    border-bottom-color: pink;
    border-block-start-color: yellow;
    border-style:ridge;
}

p{
    color:gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2{
    color:black;
    font-family: arial;
}