
div{
    color: goldenrod;
    background-color:antiquewhite;
    /*font styles*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13pt;
    font-variant: small-caps;
    font-stretch: extra-expanded;
    /*borders*/
    border: 2pt solid darkred
}

span{
    color: darkred;
    background-color: lightgreen;
    /*text styles*/
    text-decoration: underline;
    text-indent: 0.5in;
    border: 3pt double;
    border-color: blue rgb(255, 167, 3) red;
}

p{
    color: darkblue
}

h1{
    font-size: 16pt
}





