div{
    color:orange;
    background-color:khaki;
/*Font styles*/
    font-family:monospace;
    font-size:10pt;
    font-variant:small-caps;
    font-stretch:extra-expanded;

/*Borders*/
    border: 0.05pt solid red;





}

span{
    background-color:lime;
    /*text styles*/
    text-decoration:underline;
    text-indent:0.5in;
    border-width:2px;
    border-color:blue brown gold black;
    border-style: double;



}

p{
    color:blue
}
h1{
    color:red
}