body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container{
    display:flex;
    height:13vh;
    flex-direction : row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
    
}

.branding{
    height:8vh;
    width:12vw;
}
.branding img{
    height:100%;
    width:100%;
    
}

.nav-bar ul{
    list-style-type: none;
}
.nav-bar ul li{
    display: inline;
    padding:1em;
}
.nav-bar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}
.nav-bar ul li a:hover{
    color:turquoise;
    padding-bottom: 1em;
}

button{
    background:green;
    color:#fff;
    padding:1em;
    font-size:1em;
    border-radius:10px;
    width:10vw;
    border:2px solid #fff;
}

button:hover{
    background: #fff;
    color:coral;
}

header img{
    width: 50px;
}

/* Hero unit css */

/* cyrillic-ext */

.hero-unit-container{
    background: url('../images/Case-studies-hero.jpg') no-repeat;
    background-position-x: -1.5in;
    height: 45vh;
}
.hero-unit-mask{
    height:8vh; 
    width: 100%;
    background-color:white;
    opacity: 0.7;
}
.hero-unit-mask h1{
    padding-top:20vh;
    padding-left: 2in;
    color: #001689;
    -webkit-font-smoothing: antialiased;
    font-family: Open sans,Arial,sans-serif;
}

.hero-unit-mask p{
    padding-left: 2in;
    font-family:sans-serif;
    color: #333;
    font-size: 1.125rem;
    font-family: Open sans,Arial,sans-serif;
}

.hero-unit-mask a{
    text-decoration: none;
    color:#fff;
    background-color:khaki;
    padding:1em;
    display: block;
    width:8vw;
    margin:1em auto;
    border-radius:5px;
}
.hero-unit-mask a:hover{
    background-color: #fff;
    color:coral;
}

.paper-flex-container{
    display: flex;
    flex-direction: column;   
    background-color: white;
    height: 1000px;
}

.paper-flex-container h1{
    font-size : 1.5em;
    margin:1em auto;
    color: blue;
}
.paper-flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.paper{
    height:320px;
    width:25vw;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 20px grey;
    background: transparent;
    border-bottom: 5px solid teal;
}
.paper h2{
    font-size:1em;
    color: darkblue;
}
.paper img{
    width: 100%;
    height: 60%;
    background-color: lightseagreen;
}

.paper p{
    margin: 0;
    width: 100%;
    height: 40%;
}

.paper:hover{
    background-color: lightseagreen;
    color: white;
}


/* footer css */
footer{
    height: 10vh;
    background-color: cadetblue;
    border-top:2px solid coral;
    text-align: center;
    padding-top:2em;
    color:#fff;
}

/* Media Queries */

/* Extra Small Devices */
@media(max-width:575px){
    .header-container{
        height:15vh;
    }
    .branding{
        height: 10vh;
        width:20vw;
    }
    .branding img{
        height: 10vh;
        width:15vw;
    }
    .nav-bar ul{
        margin:0;
        padding:0;
    }

    .nav-bar ul li{
        display: block;
        padding:0 0 0.5em 0;
    }

    .nav-bar ul li a{
        font-size: 0.8em;
    }
    .nav-bar ul li a:hover{
        padding-bottom:0.5em;
    }

    button{
        width:20vw;
    }

    .hero-unit-container{
        height:60vh;
    }
    .hero-unit-mask{
        height: 60vh;
    }
    .hero-unit-mask h1{
        padding-top:25vh;
    }
    .hero-unit-mask a{
        width:15vw;
    }

    .paper-flex-row{
        flex-direction: column;
    }
}

/* Small Devices */
@media(min-width:576px) and (max-width:767px){
    .header-container{
        height: 15vh;
    }
    .branding{
        height:10vh;
        width:20vw;
    }
    .branding img{
        height:10vh;
        width:20vw;
    }

    .nav-bar ul{
        margin:0;
        padding:0;
    }

    .nav-bar ul li{
        display: block;
        padding:0 0 0.5em 0;
    }

    .nav-bar ul li a{
        font-size: 0.8em;
    }
    .nav-bar ul li a:hover{
        padding-bottom:0.5em;
    }

    button{
        width:20vw;
    }

    .hero-unit-container{
        height:60vh;
    }
    .hero-unit-mask{
        height: 60vh;
    }
    .hero-unit-mask h1{
        padding-top:30vh;
    }
    .hero-unit-mask a{
        width:15vw;
    }

    .paper-flex-row{
        flex-direction: column;
    }
}

/* Medium Devices */
@media(min-width:768px) and (max-width:920px){
    .header-container{
        height:15vh;
    }
    .branding{
        height:10vh;
        width:20vw;
    }
    .branding img{
        height:10vh;
        width:20vw;
    }
    button{
        width:18vw;
    }
    .hero-unit-container{
        height: 60vh;
    }
    .hero-unit-mask{
        height: 60vh;
    }
    .hero-unit-mask h1{
        color:#fff;
        font-size:3.5em;
        padding-top:30vh;
    }
    .hero-unit-mask a{
        width:18vw;
    }
}
